<!DOCTYPE html>
<html>



<body>
    {{>header}}
    <div class=" align-center">
        <div class="card card3 align-center">
            "Node practice weather application using mapbox and darksky API"
        </div>

    </div>

</body>

</html>