<!DOCTYPE html>
<html>



<body>
    {{>header}}
    <div class="align-center">
        <form>
            <input placeholder="Location">
            <button>
                Search
            </button>
        </form>
    </div>

    <div class="align-center weather-body">

        <div class="card card1 align-center" id="message1"></div>

        <div>
            <div class="card card2 align-center temp">
                <img src="../../img/weather.png">
                <p>Temperature</p>
                <p id="message2"></p>
            </div>
            <div class="card card2 align-center rain">
                <img src="../../img/rain.png">
                <p>Rain Prob.</p>
                <p id="message3"></p>
            </div>
        </div>


    </div>







    <p id="message2"></p>


    <script src="/js/app.js"></script>
</body>

</html>