<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/style.css" />

</head>
<div class=" align-center header bg-spring ">
    <h1>{{title}}</h1>
    <div class="nav">
        <a class="nav-link" href="/" tabindex="1">Main</a>
        <a href="/about" tabindex="1">About</a>
    </div>

</div>